<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>F8LA8PC4U6</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.x5studio.app</key>
		<string>X5 App Store Profile</string>
	</dict>
	<key>destination</key>
	<string>export</string>
	<key>generateAppStoreInformation</key>
	<true/>
	<key>stripSwiftSymbols</key>
	<true/>
</dict>
</plist>
